
[[ validationState.isValid ]]

<hr />

<chamber-buttons (onChambersChange)="handleChambersChange($event)">
</chamber-buttons>
<hr />


<hr />

[[ defaultState ]]

<chamber-variables-menu [defaultState]="defaultEnv"></chamber-variables-menu>

<hr />
<days-select [dayCount]="dayCount" [selectedDays]="selectedDays" [completedDays]="completedDays"></days-select>



<svg-scheduler (onTimePointsChange)="handleTimePointsChange($event)"></svg-scheduler>


<enviratron-chamber-submit-button></enviratron-chamber-submit-button>



<br /><br /><br /><br /><br /><br />

<hr />
<p>Everything below this point is in the parent component</p>

current enviroment: [[ currentEnvironment ]]



<br />

<!--current chambers: [[ dataService.currentChambers | async ]]-->
<!--
<div *ngFor="let cc of chambers | async">[[ cc.id ]] [[ cc.isChecked ]]</div>
-->

<div *ngFor="let chamber of growthChambers">[[chamber.id ]] [[chamber.isChecked]]</div>
<br />

<br />


<!--
selectedDays:
<div *ngFor="let day of selectedDays | async">[[ day ]]</div>
-->

<br />

currentDays:
<div *ngFor="let day of currentDays">[[ day ]]</div>
<br />


time points:
<ol>
  <li *ngFor="let point of currentTimePoints">[[ point.type ]] chamber: [[ point.chamberId ]] -- day: [[ point.day ]] -- minutes: [[ point.timePoint ]] -- value: [[ point.value ]]</li>

</ol>


And what does the data service hold?
<ol>
  <li *ngFor="let point of schedule">[[ point.type ]] chamber: [[ point.chamberId ]] -- day: [[ point.day ]] -- minutes: [[ point.minutes ]] -- value: [[ point.value ]] and x is [[ point.x ]], and y is [[ point.y ]]</li>

</ol>

<!--
Object
chamberId: 1
day: 7
timePoint: "12:00 AM"
type: "Lighting"
value: 24
-->

