
  <style>

    svg {

      border: 1px solid #d0d0d0;
      background-color: GhostWhite;
    }

    .time-series-marker {
      fill: #d0d0d0;

    }

    .time-series-marker:hover {
      cursor: pointer;
      fill: orange;
    }

    .grid line {
      stroke: lightgrey;
      stroke-opacity: 0.7;
      shape-rendering: crispEdges;
    }
    #days button {
      margin: .4em;

    }

    #days button.day-button-selected {
      background-color: darkgreen !important;
      color: #f8f8f8;
    }
  </style>




  <svg width="800" height="300"></svg>

  <a (click)="clearUi()">clear</a>

  <div>
    Current: <span id="mouseCurrentTemp"></span>&deg; C at <span id="mouseCurrentTime"></span>
  </div>

  <!--
  <ol>

    <li *ngFor="let day of selectedDays">[[ day ]]</li>

  </ol>
  -->

  In SVG Comp<br />
  What is days? [[ days ]]<br />
  What is the environment? [[ environment ]]

  <br />
  [[ selectedDays ]]
  <br />

  <ol>
    <li *ngFor="let point of timePoints">[[ point.temp ]] - [[ point.time ]]</li>



  </ol>

